<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zombie Nest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
    @import url('https://fonts.googleapis.com/css?family=Eater');
    nav.navbar ul.nav li {
    font-family: 'Eater', cursive;
    color: red;
    }

    .navbar-light .navbar-brand,
    .navbar-light .navbar-toggler {
        color: rgba(188, 25, 26, .7);
        font-family: 'Eater', cursive;
    }

    .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover,
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:hover {
  color: rgba(188, 25, 26, 1);
  font-family: 'Eater', cursive;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(188, 25, 26, 0.7);
    font-family: 'Eater', cursive;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(188, 25, 26, 1);
    font-family: 'Eater', cursive;
}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(0,0,0);">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" src="http://a1077.phobos.apple.com/us/r1000/000/Purple4/v4/1a/ea/65/1aea6534-9dac-8ea9-2750-a23ab0b62391/mzl.qyjovpxr.jpg" href="/">
                <img src="http://a1077.phobos.apple.com/us/r1000/000/Purple4/v4/1a/ea/65/1aea6534-9dac-8ea9-2750-a23ab0b62391/mzl.qyjovpxr.jpg" width="30" height="30" alt="">
            ombie Nest</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto ">
        <% if (currentZombie){%>
        <li class="nav-item ">
            <a class="nav-link" href="/edit">Hola,<%= currentZombie.name() %></a>
        </li>
        <li class="nav-item ">
        <a class="nav-link" href="/edit">Hola,<%= currentZombie.rol() %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar Sesion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/creategun">Registrar Arma</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/weapons">Mostrar Armas</a>
        </li>
        <%}else{%>
        <li class="nav-item">
            <a class="nav-link" href="/login">Entrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup">Registrar Usuario</a>
        </li>
        
        <% } %>
        </ul>
        <span class="navbar-text">
        Zombies
        </span>
        </div>
  <!--
        <ul class="nav navbar-nav navbar-right">
        <% if (currentZombie){%>
            <li>
                <a href="/edit">
                    Hola,<%= currentZombie.name() %>
                </a>
            </li>
            <li>
                <a href="/logout">Salir</a>
            </li>
            <%}else{%>
            <li>
                <a href="/login">Entrar</a>
            </li>
            <li>
                <a href="/signup">Registrar Usuario</a>
            </li>
            <li>
                <a href="/creategun">Registrar Arma</a>
            </li>
            <li>
                <a href="/weapons">Mostrar Armas</a>
            </li>
            <% } %>
        </ul>-->
    </div>
</nav>
<div class="container">
   <!-- <% errors.forEach(function(error){ %>
    <div class="alert alert-danger" role="alert">
    <%= error %>
    </div>
    <% }) %>
    <% infos.forEach(function(info){ %>
    <div class="alert alert-info" role="alert">
    <%= info %>
    </div>
    <% }) %>-->
    <% errors.forEach(function(error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% }) %>
        <% infos.forEach(function(info) { %>
            <div class="alert alert-info" role="alert">
                <%= info %>
            </div>
        <% }) %>


